.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container{
    margin: auto;
    width: 500px;
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    
}
button{

    width: 6em;
    height: 3em;
    border-radius: 40px;
    border: 0;

}
.scoreBoard {
    background-color: #aaa;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    flex-direction: column;
    display: flex;
}